/*Header styling*/
.header {
	text-align: center;
	min-width: 1250px;
	font-size: 18px;
	background-color: tan;
	position: fixed;
	width: 102%;
	height: 45px;
	z-index: 1;
}
.header-title {
	font-family: fantasy;
	
	margin-top: 12px;
	color: navy;
}
.header-title:hover, .header-title:focus, .header-title:active .header-title:visited {
	border: none;
	outline: none;
	color: navy;
	text-decoration: none;
}
.header-home {
	font-family: sans-serif;
	margin-top: 9px;
	color: navy;
}
.header-home:hover, .header-home:focus, .header-home:active .header-home:visited {
	border: none;
	outline: none;
	text-decoration: none;
	color: maroon;
}
.header-mypolls {
	font-family: sans-serif;
	margin-top: 9px;
	color: navy;
}
.header-mypolls:hover, .header-mypolls:focus, .header-mypolls:active .header-mypolls:visited {
	border: none;
	outline: none;
	color: navy;
	text-decoration: none;
	color: maroon;
}
.header-newpoll {
	font-family: sans-serif;
	margin-top: 9px;
	color: navy;
}
.header-newpoll:hover, .header-newpoll:focus, .header-newpoll:active .header-newpoll:visited {
	border: none;
	outline: none;
	color: navy;
	text-decoration: none;
	color: maroon;
}

.header-name {
	margin-top: 5px;
}

/* Main text styling */
.main-text {
	position: relative;
	text-align: center;
	padding-top: 70px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: lightgray;
}
.main-title {
	font-size: 50px;
	font-family: fantasy;
	color: darkgreen;
	margin-bottom: 40px;
}
.main-descrip {
	font-size: 25px;
	font-family: serif;
	color: maroon;
	margin-top: -7px;
}
.main-instruct {
	font-size: 15px;
	font-family: sans-serif;
	margin-top: 40px;
	padding-bottom: 50px;
}

#polls {
	padding-bottom: 50px;
}
.data {
	width: 80%;
	margin-top: -11px;
}