/*Header styling*/
.header {
	text-align: center;
	min-width: 1250px;
	font-size: 18px;
	background-color: tan;
	position: fixed;
	width: 102%;
	height: 45px;
	z-index: 1;
}
.header-title {
	font-family: fantasy;
	margin-top: 12px;
	color: navy;
}
.header-title:hover, .header-title:focus, .header-title:active .header-title:visited {
	border: none;
	outline: none;
	color: navy;
	text-decoration: none;
}
.header-home {
	font-family: sans-serif;
	margin-top: 9px;
	color: navy;
}
.header-home:hover, .header-home:focus, .header-home:active .header-home:visited {
	border: none;
	outline: none;
	text-decoration: none;
	color: maroon;
}
.header-mypolls {
	font-family: sans-serif;
	margin-top: 9px;
	color: navy;
}
.header-mypolls:hover, .header-mypolls:focus, .header-mypolls:active .header-mypolls:visited {
	border: none;
	outline: none;
	color: navy;
	text-decoration: none;
	color: maroon;
}
.header-newpoll {
	font-family: sans-serif;
	margin-top: 9px;
	color: navy;
}
.header-newpoll:hover, .header-newpoll:focus, .header-newpoll:active .header-newpoll:visited {
	border: none;
	outline: none;
	color: navy;
	text-decoration: none;
	color: maroon;
}

.header-name {
	margin-top: 5px;
	background-color: tan;
	color: navy;
	border: none;
}

/* Main text styling */
.main-text {
	position: relative;
	padding-top: 70px;
	margin-left: 20%;
	margin-right: 20%;
	background-color: lightgray;
}
.main-title {
	font-size: 50px;
	margin-left: 30px;
	font-family: cursive;
	margin-bottom: 40px;
}

.title {
    font-size: 25px;
    margin-left: 30px;
}
#title-input {
    width: 70%;
    border-radius: 3px;
    margin-left: 30px;
    margin-bottom: 25px;
    border-width: 0px;
}
input {
	border-color: gray;
}
.choices {
    font-size: 25px;
    margin-left: 30px;
}
#choices-input {
    width: 70%;
    border-radius: 3px;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-bottom: 25px;
    border-width: 0px;
}

.make-button {
	margin-bottom: 50px;
	margin-left: 30px;
}
