
/*Header styling*/
.header {
	text-align: center;
	min-width: 1250px;
	font-size: 18px;
	background-color: tan;
	position: fixed;
	width: 102%;
	height: 45px;
	z-index: 1;
}
.header-title {
	font-family: fantasy;
	margin-top: 12px;
	color: navy;
}
.header-title:hover, .header-title:focus, .header-title:active .header-title:visited {
	border: none;
	outline: none;
	color: navy;
	text-decoration: none;
}
.header-home {
	font-family: sans-serif;
	margin-top: 9px;
	color: navy;
}
.header-button {
	margin-top: 5px;
}
.header-home:hover, .header-home:focus, .header-home:active .header-home:visited {
	border: none;
	outline: none;
	text-decoration: none;
	color: maroon;
}
.header-mypolls {
	font-family: sans-serif;
	margin-top: 9px;
	color: navy;
}
.header-mypolls:hover, .header-mypolls:focus, .header-mypolls:active .header-mypolls:visited {
	border: none;
	outline: none;
	color: navy;
	text-decoration: none;
	color: maroon;
}
.header-newpoll {
	font-family: sans-serif;
	margin-top: 9px;
	color: navy;
}
.header-newpoll:hover, .header-newpoll:focus, .header-newpoll:active .header-newpoll:visited {
	border: none;
	outline: none;
	color: navy;
	text-decoration: none;
	color: maroon;
}
.header-name {
	margin-top: 5px;
	background-color: tan;
	color: navy;
	border: none;
}

/* Main text styling */
.main-text {
	position: relative;
	padding-top: 70px;
	margin-left: 10%;
	margin-right: 10%;
	background-color: lightgray;
	overflow: hidden;
}
.text {
	z-index: 1;
}
#title {
	font-size: 50px;
	font-family: cursive;
	margin-bottom: 40px;
	margin-left: 10%;
}
.vote-instruct {
	font-size: 25px;
	font-family: serif;
	color: maroon;
	margin-top: -7px;
	margin-left: 10%;
}
.choice-button {
    margin-left: 10%;
    width: 50%;
    margin-bottom: 15px;
}
.dropdown-menu {
	padding-left: 5%;
	padding-right: 5%;
}
.option {
    text-align: center;
}
.option:hover {
	text-decoration: underline;
}
.custom-text {
	margin-left: 10%;
}
.custom-input {
	margin-left: -30%;
	width: 30%;
}
.vote {
    margin-left: 10%;
    width: 50%;
    margin-bottom: 15px;
}
.share {
    margin-left: 10%;
    width: 50%;
}
.chart {
	margin-top: -5%;
	text-align: center;
	margin-left: -10%;
}
#piechart {
	text-align: center;
	margin: 0 auto;
}
.delete-button {
	text-align: center;
	width: 500px;
	margin-bottom: 30px;
}
